Flask==2.1.2
inflection==0.5.1
matplotlib==3.5.2
numpy==1.26.4
pandas==1.4.2
requests==2.27.1
scikit-learn==1.1.1
scipy==1.8.1
sklearn==0.0
stack-data==0.2.0
xgboost==1.6.1
streamlit-folium==0.7.0
streamlit==1.15.2
altair==4.2.0
